body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: black;
}
h1
{
    background-color: rgb(8, 8, 51);
    color: aliceblue;
    padding: 20px;
    margin: 0%;
}
img
{
    border-radius: 20px;
}
a
{
    font-family: Arial, Helvetica, sans-serif;
color:rgb(246, 246, 250) ;
margin: 12px;
font-weight: bold;
}
a:hover
{
    color: rgb(184, 39, 39);
}
table
{
    margin: 20px auto;
    border-collapse: collapse;

}
td
{
    padding: 20px;
    background-color:rgb(8, 8, 51);
    transition: transform 0.3s ease;
    color: antiquewhite;
}
button
{
    padding: 18px 15px;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
button:hover
{
    background-color: rgb(184, 39, 39);
}
ul
{
    list-style-type: square;
    text-align: left;
   color: antiquewhite;
}
hr
{
    border: 2px solid rgb(35, 13, 123);
}

h2
{
    color: antiquewhite;
}
h3
{
    color: antiquewhite;
}